*{
    margin:0;
    font-family: 'Poppins',sans-serif;
    padding:0;
    box-sizing:border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:radial-gradient(rgb(246, 236, 236),rgb(0, 78, 166));
    overflow:hidden;
}
form{
    background-color: #002f423d;
    padding: 25px;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
h2{
    font: size 30px;
    color:#000000;
    text-align: center;
}
.input-group{
    position: relative;
    width: 320px;
    margin: 30px 0;
}
.input-group label{
    position:static;
    top:50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: black;
    padding: 0 5px;
    pointer-events: none;
    transition: 2s;
}
.input-group input{
    width: 100%;
    height: 40px;
    font-size: 16px;
    color:#080505;
    padding: 0 10px;
    background:transparent;
    border: 1px solid #000000;
    outline:none;
    border-radius: 5px;
}
.input-group input:focus~label{
    font-size: 12px;
    background:rgb(185, 197, 4);
}
.btn{
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: 40px;
    background-color:rgba(0, 0, 0, 0);
    box-shadow: 0 1px 10px black;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius:5px;
    border:1px black;
    outline:none;
}
p{
    padding-top: 5%;
    text-align:center;
}
.signUp{
    color: rgb(77, 77, 77);
    text-decoration: none;
}
.tr{
    text-shadow: #000000;

}